/* ANADIR SIEMPRE*/
/*******************************/
* {box-sizing: border-box;}   
/*******************************/

.logo{
    float: left;
}
h1{
    display: none;
}
nav {
    position: relative;
    width: 50%;
    float: right;
  }
  nav ul {
    list-style: none;
    margin-top: 5rem;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    color: #fac000;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 5px solid #ff5555;
    background-color: black;
  }